<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Movie Corn</title>
  {{ style('style') }}
</head>
<body>  
    <div class="logo"></div><div class="subtitle"><h3>MovieCorn</h3></div>
      <div class="subtitle">
      <p>Movies</p>
      @if(movieList.length === 0)
      <p>Sorry, No Movies Available</p>
      @else
      @each(list in movieList)
      <div class="responsive">
        <div class="gallery">
          <a href="{{ route('detail', { id: $loop.index + 1 }) }}">
            <img src="{{ list.image }}" id={{ ($loop.index + 1) }} alt="" width="600" height="400">
          </a>
          <div class="desc">{{ list.name }}</div>
        </div>
      </div>
      @endeach
      @endif
    </div>
    <p class="footer">
        Created By <a href="https://infantsabin.netlify.com">Infant Sabin</a>.
    </p>
</body>
</html>
