<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Movie Corn</title>
  {{ style('style') }}
</head>
<body>  
    <div class="logo"></div><div class="subtitle"><h3>MovieCorn</h3></div>
      <div class="subtitle">
      <p>Categories</p>
      <h1>{{ request.genreList }}</h1>
      @each(route in routes)
      <p>routes</p>
      @endeach
      <p>
        Don't know where to start? Read the <a href="https://adonisjs.com/docs">documentation</a>.
      </p>
    </div>
</body>
</html>
